.btn__anchor {
  padding-top: 0.5em;
  padding-bottom: 2em;
  a {
    width: 64px;
    height: 37px;
    padding: 34px;
  }
  a:before {
    font-size: 40px;
    left: -19px;
    top: -28px;
  }
}

#page-header {
  .btn__anchor {
    @include btn( none,2px solid $white, $white);
  }
}

.section-infographic {
  .field-name-field-bean-description {
    text-align: center;
    font-family: $font-default;
    font-size: 40px;
    padding: 80px 0;
    color: $black-dark;

    span {
      color: $red-light;
    }
  }

  .btn__anchor {
    @include btn( $red-light,2px solid $white, $white);
  }
}

.region-content {
  text-align: center;
  padding-top: 60px;

  .block-bean {
    display: inline-block;
    padding: 30px;
  }

  .field-name-field-image-box {
    border-radius: 50%;
    display: inline-block;
    padding: 60px;
    background: $red-light;
  }

  .field-name-field-bean-description {
    margin-top: 50px;
    font-size: 30px;
    display: block;
    font-family: $font-default;
  }

  .btn__anchor {
    padding-top: 80px;
    padding-bottom: 80px;
    @include btn( none,2px solid $black-dark, $black-dark);
  }
}

.view-clients {
  padding-top: 10em;

  .slick--view--clients {
    margin-bottom: 15em;
  }

  .view-footer {
    text-align: center;
  }

  .btn__anchor {
    @include btn( none,2px solid $black-dark, $black-dark);
  }
}

#map {
  width: 100%;
  height: 540px;
  margin-top: 60px;
  margin-bottom: 80px;
}

.region-full-section {
  text-align: center;
  padding-top: 60px;

  .btn__anchor {
    @include btn( $red-light,2px solid $white, $white);
  }
}

.form-control {
  height: 70px;
  font-size: 20px;
  border: 2px solid $grey-01;
}

#webform-client-form-6 {
  padding-top: 60px;
  margin: 0 auto;
  width: 50%;

  .form-actions {
    button {
      width: 100%;
      padding: 20px;
      font-size: 20px;
      color: $white;
      background: $red-light;
    }
  }
}

.slick-prev:before {
  color: $grey-01;
  content: "\f053";
  font-family: FontAwesome;
}
.slick-next:before {
  color: $grey-01;
  content: "\f054";
  font-family: FontAwesome;
}
