/*
 * Mixin for easy media queries
 * @include bp(tablet) { SCSS here };
*/
@mixin bp($point) {
	@if $point == large {
		@media (max-width : 1600px) { @content; }
	}
	@if $point == tablet {
		@media (max-width : 1024px) { @content; }
	}
	@else if $point == mobil {
		@media (max-width : 768px) { @content; }
	}
}



// font-face
@font-face {
    font-family: 'museo300';
    src: url('../fonts/museo_300-webfont.eot');
    src: url('../fonts/museo_300-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo_300-webfont.woff2') format('woff2'),
         url('../fonts/museo_300-webfont.woff') format('woff'),
         url('../fonts/museo_300-webfont.svg#museo300') format('svg');
    font-weight: normal;
    font-style: normal;

}

@mixin btn($bg, $border, $color) {
  a {
    border: $border;
    background: $bg;
    text-decoration: none;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    font-size: 0;
  }
  a:before {
    content: '\f078';
    position: relative;
    font-family: FontAwesome;
    color: $color;
  }

}
