body {
  font-family: $font-default;
}
// header

h2 {
  text-align: center;
  font-family: $font-default;
  font-size: 80px;
  color: $black-dark;
}

.logo-section {
  background: $red-light;
  width: 100%;
  padding-top: 30em;
  text-align: center;

  .logo {
    img {
      width: 33%;
    }
  }
}

#first-time {
  display: none;
}

#page-header {
  width: 100%;
  background: $red-light;
  text-align: center;
  color: $white;
  font-family: $font-default;
  font-size: 30px;
  padding-top: 2em;

  p {
    padding: 3em 7em;
  }
}

.section-infographic {
  background: $grey;
  width: 100%;
}

.main-container {
  padding-top: 80px;
}

.clients {
  background: $grey;
  width: 100%;
  padding-top: 80px;
}

.footer {
  border-top: 0;
  padding-top: 60px;
  text-align: center;
}
.phone__footer {
  font-size: 25px;
  font-family: $font-default;
  margin-top: 40px;
  color: $black-dark;
  margin-bottom: 80px;
  display: inline-block;
}
