/* Small devices (tablets, 768px and up) */
.btn__anchor {
  @include bp(mobil){
    a {
      width: 30px;
      height: 20px;
      padding: 25px;
    }
    a:before {
      font-size: 25px;
      left: -12px;
      top: -19px;
    }
 }
}
h2 {
  @include bp(mobil){
    font-size: 40px;
  }
}
header {
  @include bp(mobil){
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

  #page-header p {
    @include bp(mobil){
      padding: 0;
      font-size: 25px;
    }
  }
  .logo-section {
    @include bp(mobil){
      padding-top: 10em;
    }
  }
  #block-bean-infograpone {
    @include bp(mobil){
      padding-top: 10em;
    }
  }

  .section-infographic{
     .field-name-field-bean-description {
       @include bp(mobil){
        font-size: 25px;
       }
     }
  }

  .region-content {
    @include bp(mobil){
      .block-bean {
        padding: 15px;
        display: inline;
      }
      .field-name-field-bean-description {
        font-size: 20px;
        display: inline-block;
      }
      .field-name-field-image-box {
        float: left;
        padding: 20px;
      }
    }
  }
  #webform-client-form-6 {
    @include bp(mobil){
      width: 100%;
    }
  }
  .phone__footer {
    @include bp(mobil){
     font-size: 20px;
    }
  }

  @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 360px)
     {
    .region-content {
      .field-name-field-bean-description {
        font-size: 16px;
        display: inline-block;
      }
    }
  }
